openapi: 3.0.0
info:
  title: MYOB AccountRight
  description: >
    ![Beta](https://s3-ap-southeast-2.amazonaws.com/addons.myob.cloud/postman_assets/arl_postman_beta.jpg
    "Beta")


    # Welcome

    A collection of endpoints for Postman when working with the MYOB
    AccountRight API

    Please note **this postman collection is in beta** - last updated Jan 2021


    **Note:** we have a quick [getting started video you can watch on our
    developer site
    here](http://developers.myob.com/api/accountright/accountright-postman-collection/).


    To use this API you will need to make calls to
    `https://api.myob.com/accountright`

    This API makes use of OAUTH2.0 and will require you to complete the OAUTH
    flow to obtain **access_tokens** for making calls to this API.


    Authorisation is to the users account, the first call you make to the API
    will return a **_list of company files_** that are within this users
    account.


    Future calls will involve using the URI for the company file the users
    selects.

    **Note:** all future calls you make will be to an url that looks like
    `https://arX.api.myob.com/accountright` where **x** is a number. This allows
    the API to route you to the correct location for that specific file.


    ### Expectations

    This collection of endpoints and methods has been created to guide and
    assist you as you work with the **MYOB AccountRight API**. It is _not_
    intended to be a replacement to MYOB's documentation nor support channels.
    Best efforts have been undertaken to as accurately as possible represent and
    give samples of how to work with the API. Most **POST** and **PUT** examples
    will only submit the minimum required items, for a full list of potential
    items for any endpoint, please refer to the
    **[http://developers.myob.com/](http://developers.myob.com/)**
    documentation.



    # Getting started

    The first thing you will need to do is open this collection in
    [Postman](https://www.getpostman.com/) - which if you haven't used before,
    is a power REST API explorer tool that allows you to quickly and easily
    explore API endpoints, make calls and fetch data.


    Once you have the collection running in Postman you'll need some **MYOB API
    Keys** and an **MYOB AccountRight Sandbox company file** to test with. These
    are free, and easily obtained from the [MYOB Developers API
    portal](http://developers.myob.com/) - please note: all api registrations
    and sandbox file allocations are manually reviewed before being granted.
    Learn more about **[Getting Started with the MYOB AccountRight
    API](http://developers.myob.com/api/accountright/api-overview/getting-started/)**.
    Once you have a **my.myob** login, you will need to [login and register your
    Application](https://my.myob.com.au/Bd/pages/DevAppList.aspx), which will
    give you the API credentials. Note that for working with postman, make sure
    that one of the `redirect_uri` that you setup is
    `https://oauth.pstmn.io/v1/callback` - you can have multiple so in the
    redirect uri form you can enter
    `https://oauth.pstmn.io/v1/callback,https://staging.mydomain.xyz,https://production.mydomain.abc`
    to use your keys across multiple environments.


    Now that you have your API Credentials and you have opened this collection
    in Postman you will see a **collection** called MYOB AccountRight, and if
    you _mouse over_ this collection, on the right you will see an ellipsis
    **...** - click this and then hit EDIT. Here you will find 5 tabs
    Description (this content), Authorization, Pre-request Scripts, Tests and
    Variables.


    ## Setting up the variables

    Head to the **Variables** tab, and fill in the `client_id` and
    `client_secret` along with your `redirect_uri` (note: make sure this is
    **not** url encoded when you paste it here).


    ## Authorization

    Now switch over to the **Authorization** tab, and click the orange **Get New
    Access Token** button. You will notice most of this is prefilled for you.
    For now simply click **request token** and it should take you through the
    standard OAUTH 2.0 flow. You'll see the MYOB login screen, login and grant
    permission for your app. It should now redirect you to Postman with a acess
    token.


    **NOTE**: if you see an `invalid_request` message, the most usual issue will
    be with your `redirect_uri` or the `scope` paramater.


    Postman will now display the response body, scroll to the bottom and click
    **use token**, and then click **Update** on the bottom of the _edit
    collection_ window. This setups up the **authorization headers** for the
    collection. All of the endpoints are setup to inherit this token and use it
    for calls. Note this collection does not (_yet_) auto-refresh the token, so
    you will need to redo that last **authorization** step roughly every 20mins
    as that's the life time of an MYOB Access Token.


    ## Go exploring.

    At this point you can start exploring the API. You might have spotted in the
    Variables tab a couple of other items that expect data - these are the
    `company_file_uri` and `company_file_id` - you get these after making a
    **GET** request to the **_List Company Files_** endpoint found in the
    _General API Endpoints_ folder. The Company File URI looks like
    `https://arx.api.myob.com/accountright` where the **x** is a number. The
    Company File ID is the UID of the file. These two variables are used in
    subsequent calls to the API to read/write data to a specific MYOB
    AccountRight Company File.


    # Need Support?

    If you need support or want to read the full API Documentation you can head
    to:

    * [MYOB AccountRight API
    Documentation](http://developers.myob.com/api/accountright/v2/)

    * [Log a Ticket with API
    Support](https://apisupport.myob.com/hc/en-us/requests/new?ticket_form_id=215283)
  version: 1.0.0
servers:
  - url: https://secure.myob.com
  - url: http://{{company_file_uri}}
  - url: http://{{api_uri}}
components:
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: basic
security:
  - oauth2Auth: []
tags:
  - name: Authentication
  - name: Contacts
    description: >-
      A collection of endpoints for working with contacts, suppliers and
      employees
  - name: Contacts > Customer
    description: A collection of endpoints for working with the customers
  - name: Inventory
    description: A collection of endpoints for working with inventory
  - name: Inventory > Item
    description: A collection of endpoints for working with Items
  - name: Sales (Invoices)
    description: A collection of endpoints for working with the sales & invoices endpoints
  - name: Sales (Invoices) > Sale Order
    description: A collection of endpoints to work with orders
  - name: Sales (Invoices) > Sale Order > Items
paths:
  /{company_file_id}/Contact/Customer:
    get:
      tags:
        - Contacts > Customer
      summary: Find a customer by DisplayID
      description: >-
        ### An example of finding a customer by a specific item


        THis is an example using ODATA to find a customer by a their
        **DisplayID**
      parameters:
        - name: x-myobapi-key
          in: header
          schema:
            type: string
          description: >-
            The API key registered in
            https://my.myob.com.au/au/bd/DevAppList.aspx
          example: '{{client_id}}'
        - name: x-myobapi-version
          in: header
          schema:
            type: string
          description: The version of the API, v2 is the current version
          example: v2
        - name: Accept-Encoding
          in: header
          schema:
            type: string
          example: gzip,deflate
        - name: $filter
          in: query
          schema:
            type: string
          example: DisplayID eq 'PMN001'
        - name: company_file_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              schema:
                type: string
                example: must-revalidate, private
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: Sat, 22 Sep 2018 01:46:59 GMT
            ETag:
              schema:
                type: string
                example: '"-1108393933"'
            Expires:
              schema:
                type: number
                example: '-1'
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Mashery-Message-ID:
              schema:
                type: string
                example: 35915013-e52b-4940-9621-8409a05ed987
            X-Mashery-Responder:
              schema:
                type: string
                example: prod-j-worker-tlsv1-ap-southeast-2b-02.mashery.com
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
            transfer-encoding:
              schema:
                type: string
                example: chunked
            x-myobapi-elapsed:
              schema:
                type: integer
                example: '748'
            x-myobapi-requestid:
              schema:
                type: string
                example: f3ed5a73-b530-453f-abf6-f713e172746a
          content:
            application/json:
              schema:
                type: object
              example:
                Items:
                  - UID: d40365af-de6a-4479-baaf-99fde7567889
                    LastName: Postman
                    FirstName: Tester
                    IsIndividual: true
                    DisplayID: PMN001
                    IsActive: true
                    Addresses: null
                    Notes: null
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1: null
                    CustomField2: null
                    CustomField3: null
                    CurrentBalance: 0
                    SellingDetails:
                      SaleLayout: NoDefault
                      PrintedForm: null
                      InvoiceDelivery: Print
                      ItemPriceLevel: null
                      IncomeAccount: null
                      ReceiptMemo: null
                      SalesPerson: null
                      SaleComment: null
                      ShippingMethod: null
                      HourlyBillingRate: 0
                      ABN: null
                      ABNBranch: null
                      TaxCode:
                        UID: 3bd2fbea-54d7-4115-8030-b84360048465
                        Code: GST
                        URI: >-
                          https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/GeneralLedger/TaxCode/3bd2fbea-54d7-4115-8030-b84360048465
                      FreightTaxCode:
                        UID: 3bd2fbea-54d7-4115-8030-b84360048465
                        Code: GST
                        URI: >-
                          https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/GeneralLedger/TaxCode/3bd2fbea-54d7-4115-8030-b84360048465
                      UseCustomerTaxCode: false
                      Terms:
                        PaymentIsDue: DayOfMonthAfterEOM
                        DiscountDate: 1
                        BalanceDueDate: 30
                        DiscountForEarlyPayment: 0
                        MonthlyChargeForLatePayment: 0
                        VolumeDiscount: 0
                      Credit:
                        Limit: 0
                        Available: 0
                        PastDue: 0
                        OnHold: false
                      TaxIdNumber: null
                      Memo: null
                    PaymentDetails: null
                    LastModified: '2018-09-22T01:44:42.573'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/d40365af-de6a-4479-baaf-99fde7567889
                    RowVersion: '7189163375283142656'
                NextPageLink: null
                Count: 1
    post:
      tags:
        - Contacts > Customer
      summary: Create a new customer
      description: '### Add a new customer to the company file'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n            \"LastName\": \"Postman\",\n
                \"FirstName\": \"Test\",\n            \"IsIndividual\":
                true,\n            \"DisplayID\": \"PMN001\",\n
                \"SellingDetails\": {\n                \"TaxCode\":
                {\n                    \"UID\":
                \"3bd2fbea-54d7-4115-8030-b84360048465\"\n
                },\n                \"FreightTaxCode\": {\n
                \"UID\":
                \"3bd2fbea-54d7-4115-8030-b84360048465\"\n
                }\n            }\n}"
      parameters:
        - name: x-myobapi-key
          in: header
          schema:
            type: string
          description: >-
            The API key registered in
            https://my.myob.com.au/au/bd/DevAppList.aspx
          example: '{{client_id}}'
        - name: x-myobapi-version
          in: header
          schema:
            type: string
          description: The version of the API, v2 is the current version
          example: v2
        - name: Accept-Encoding
          in: header
          schema:
            type: string
          example: gzip,deflate
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: company_file_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '201':
          description: Created
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: integer
                example: '0'
            Date:
              schema:
                type: string
                example: Sat, 22 Sep 2018 01:41:49 GMT
            Expires:
              schema:
                type: number
                example: '-1'
            Location:
              schema:
                type: string
                example: >-
                  https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/d40365af-de6a-4479-baaf-99fde7567889
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Mashery-Message-ID:
              schema:
                type: string
                example: 43180b9a-8306-41d9-82b8-85f90cfb97db
            X-Mashery-Responder:
              schema:
                type: string
                example: prod-j-worker-tlsv1-ap-southeast-2a-01.mashery.com
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
            x-myobapi-elapsed:
              schema:
                type: integer
                example: '5535'
            x-myobapi-requestid:
              schema:
                type: string
                example: c7d0f71a-34cf-4fca-a213-5ebee03ebb5c
          content:
            text/plain:
              schema:
                type: string
              example: ''
  /{company_file_id}/Contact/Customer/{guid}:
    put:
      tags:
        - Contacts > Customer
      summary: Edit a customer
      description: '### Add a new customer to the company file'
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n            \"UID\":
                \"d40365af-de6a-4479-baaf-99fde7567889\",\n
                \"LastName\": \"Postman\",\n            \"FirstName\":
                \"Tester\",\n            \"IsIndividual\": true,\n
                \"DisplayID\": \"PMN001\",\n            \"SellingDetails\":
                {\n                \"TaxCode\": {\n                    \"UID\":
                \"3bd2fbea-54d7-4115-8030-b84360048465\"\n
                },\n                \"FreightTaxCode\": {\n
                \"UID\":
                \"3bd2fbea-54d7-4115-8030-b84360048465\"\n
                }\n            },\n            \"RowVersion\":
                \"6180357058752151552\"\n}"
      parameters:
        - name: x-myobapi-key
          in: header
          schema:
            type: string
          description: >-
            The API key registered in
            https://my.myob.com.au/au/bd/DevAppList.aspx
          example: '{{client_id}}'
        - name: x-myobapi-version
          in: header
          schema:
            type: string
          description: The version of the API, v2 is the current version
          example: v2
        - name: Accept-Encoding
          in: header
          schema:
            type: string
          example: gzip,deflate
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: company_file_id
          in: path
          schema:
            type: string
          required: true
        - name: guid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: integer
                example: '0'
            Date:
              schema:
                type: string
                example: Sat, 22 Sep 2018 01:44:42 GMT
            Expires:
              schema:
                type: number
                example: '-1'
            Location:
              schema:
                type: string
                example: >-
                  https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/d40365af-de6a-4479-baaf-99fde7567889
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Mashery-Message-ID:
              schema:
                type: string
                example: 80deffaf-1218-46bb-8b58-a8cd245f7ee6
            X-Mashery-Responder:
              schema:
                type: string
                example: prod-j-worker-tlsv1-ap-southeast-2b-02.mashery.com
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
            x-myobapi-elapsed:
              schema:
                type: integer
                example: '973'
            x-myobapi-requestid:
              schema:
                type: string
                example: 0e404e8f-24cd-4c35-9d20-dac8a4e50b55
          content:
            text/plain:
              schema:
                type: string
              example: ''
    delete:
      tags:
        - Contacts > Customer
      summary: Delete a customer
      description: '### Delete a customer from the company file'
      parameters:
        - name: x-myobapi-key
          in: header
          schema:
            type: string
          description: >-
            The API key registered in
            https://my.myob.com.au/au/bd/DevAppList.aspx
          example: '{{client_id}}'
        - name: x-myobapi-version
          in: header
          schema:
            type: string
          description: The version of the API, v2 is the current version
          example: v2
        - name: Accept-Encoding
          in: header
          schema:
            type: string
          example: gzip,deflate
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: company_file_id
          in: path
          schema:
            type: string
          required: true
        - name: guid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: integer
                example: '0'
            Date:
              schema:
                type: string
                example: Sat, 22 Sep 2018 01:47:44 GMT
            Expires:
              schema:
                type: number
                example: '-1'
            Pragma:
              schema:
                type: string
                example: no-cache
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Mashery-Message-ID:
              schema:
                type: string
                example: caedd5c3-a584-4db5-ba30-7b41ae2b4946
            X-Mashery-Responder:
              schema:
                type: string
                example: prod-j-worker-tlsv1-ap-southeast-2a-01.mashery.com
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
            x-myobapi-elapsed:
              schema:
                type: integer
                example: '1320'
            x-myobapi-requestid:
              schema:
                type: string
                example: 1ea01233-43ed-47a5-83b0-5db23680f5bb
          content:
            text/plain:
              schema:
                type: string
              example: ''
  /{company_file_id}/Contact:
    get:
      tags:
        - Contacts
      summary: Fetch a list of all contacts
      description: '### Get an employees payroll details'
      parameters:
        - name: x-myobapi-key
          in: header
          schema:
            type: string
          description: >-
            The API key registered in
            https://my.myob.com.au/au/bd/DevAppList.aspx
          example: '{{client_id}}'
        - name: x-myobapi-version
          in: header
          schema:
            type: string
          description: The version of the API, v2 is the current version
          example: v2
        - name: Accept-Encoding
          in: header
          schema:
            type: string
          example: gzip,deflate
        - name: company_file_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Cache-Control:
              schema:
                type: string
                example: must-revalidate, private
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Date:
              schema:
                type: string
                example: Fri, 21 Sep 2018 23:34:05 GMT
            ETag:
              schema:
                type: string
                example: '"-147953156"'
            Expires:
              schema:
                type: number
                example: '-1'
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-AspNet-Version:
              schema:
                type: string
                example: 4.0.30319
            X-Mashery-Message-ID:
              schema:
                type: string
                example: edbb553d-81b3-4370-8ca9-530a36a18eb4
            X-Mashery-Responder:
              schema:
                type: string
                example: prod-j-worker-tlsv1-ap-southeast-2a-01.mashery.com
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
            transfer-encoding:
              schema:
                type: string
                example: chunked
            x-myobapi-elapsed:
              schema:
                type: integer
                example: '2027'
            x-myobapi-requestid:
              schema:
                type: string
                example: 890e03ba-445e-45b0-b738-4cbd84802a80
          content:
            application/json:
              schema:
                type: object
              example:
                Items:
                  - UID: dd2088e1-92aa-42c5-9203-7060393839a3
                    LastName: Cameron
                    FirstName: James
                    IsIndividual: true
                    DisplayID: CUS000002
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 123 Hamilton Street
                        City: Camberwell
                        State: Victoria
                        PostCode: '3154'
                        Country: Australia
                        Phone1: 03 9546 2465
                        Phone2: 03 9536 3456
                        Phone3: 03 9523 2563
                        Fax: 03 9534 2453
                        Email: Cameron@optus.com.au
                        Website: www.myob.com.au
                        ContactName: Susie
                        Salutation: Work
                      - Location: 2
                        Street: 34 Bailey Avenue
                        City: Moorabbin
                        State: Victoria
                        PostCode: '3025'
                        Country: Australia
                        Phone1: 039345 2424
                        Phone2: 039456 2342
                        Phone3: 039345 9345
                        Fax: 039456 2455
                        Email: SC@yahoo.com.au
                        Website: www.myob.com.au
                        ContactName: David
                        Salutation: Work
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 18.47
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/dd2088e1-92aa-42c5-9203-7060393839a3
                    RowVersion: '-3095655196794028032'
                  - UID: 00921110-6d2a-4218-9bda-a0c2e8415e5f
                    CompanyName: Cash Sales
                    IsIndividual: false
                    DisplayID: CPCUST477
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 76.95
                    Type: Customer
                    LastModified: '2015-08-17T05:16:25.717'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/00921110-6d2a-4218-9bda-a0c2e8415e5f
                    RowVersion: '-3023597602756100096'
                  - UID: cc39b2ac-0b7b-46ef-b517-60a35096ddcc
                    CompanyName: Chelsea Mosset
                    IsIndividual: false
                    DisplayID: CUS000009
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 63 Travers Drive
                        City: Gosford
                        State: NSW
                        PostCode: '2430'
                        Country: Australia
                        Phone1: 02 4328 2272
                        Phone2: ''
                        Phone3: ''
                        Fax: 02 4328 2274
                        Email: Chelsea@aol.com
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: Chelsea
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 0
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/cc39b2ac-0b7b-46ef-b517-60a35096ddcc
                    RowVersion: '-2951540008718172160'
                  - UID: 935836e1-6153-48d1-a9a1-3c6aec40b8c2
                    LastName: Davis
                    FirstName: Chris
                    IsIndividual: true
                    DisplayID: CUS000004
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 12 Barkley Street
                        City: St Kilda
                        State: Vic
                        PostCode: '3024'
                        Country: Australia
                        Phone1: 03 9567 3453
                        Phone2: 03 9533 2256
                        Phone3: 03 9534 2345
                        Fax: ''
                        Email: Davis@yahoo.com.au
                        Website: www.myob.com.au
                        ContactName: Simon
                        Salutation: Work
                      - Location: 2
                        Street: 14 Charles Street
                        City: Brighton
                        State: Vic
                        PostCode: '3170'
                        Country: Australia
                        Phone1: 039456 7432
                        Phone2: 039345 2312
                        Phone3: 039234 4536
                        Fax: 039122 5674
                        Email: SD@aol.com.au
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: Work
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 0
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/935836e1-6153-48d1-a9a1-3c6aec40b8c2
                    RowVersion: '-2879482414680244224'
                  - UID: 333b585b-ba55-4f0e-a65f-4636b8d932d7
                    CompanyName: Footloose Dance Studio
                    IsIndividual: false
                    DisplayID: CUS000005
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 45 Huntly Road
                        City: North Ryde
                        State: NSW
                        PostCode: '2113'
                        Country: Australia
                        Phone1: 02 9987 5689
                        Phone2: 02 9987 4568
                        Phone3: ''
                        Fax: 02 9988 1246
                        Email: Foot@aol.com
                        Website: www.myob.com.au
                        ContactName: Tim
                        Salutation: Work
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: Work
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 2179
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/333b585b-ba55-4f0e-a65f-4636b8d932d7
                    RowVersion: '-2807424820642316288'
                  - UID: c180cb17-5236-4e39-91e5-567a04345fd9
                    CompanyName: Island Way Motel
                    IsIndividual: false
                    DisplayID: CUS000006
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 89 Island Way
                        City: Terrigal
                        State: NSW
                        PostCode: '2118'
                        Country: Australia
                        Phone1: 02 4384 5623
                        Phone2: 02 9524 4000Chat
                        Phone3: ''
                        Fax: 02 4384 5621
                        Email: Island@aol.com
                        Website: www.myob.com.au
                        ContactName: Terry
                        Salutation: Work
                      - Location: 2
                        Street: 22 Campbell Way
                        City: Hornsby
                        State: NSW
                        PostCode: '2034'
                        Country: Australia
                        Phone1: 02 4567 8754
                        Phone2: 02 5646 3355
                        Phone3: ''
                        Fax: 02 6453 3435
                        Email: IW@aol.com
                        Website: www.myob.com.au
                        ContactName: Maggie
                        Salutation: Work
                      - Location: 3
                        Street: 54 Brady Road
                        City: Marrickville
                        State: NSW
                        PostCode: '2567'
                        Country: Australia
                        Phone1: 02 4876 3425
                        Phone2: 02 5678 3535
                        Phone3: ''
                        Fax: 02 6788 7447
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: 12 Harvey Street
                        City: Sydney
                        State: NSW
                        PostCode: '2245'
                        Country: Australia
                        Phone1: 02 9567 3663
                        Phone2: 02 9786 4676
                        Phone3: 02 9746 6463
                        Fax: 02 9763 3562
                        Email: Isle@ihug.com.au
                        Website: www.myob.com.au
                        ContactName: Cameron
                        Salutation: ''
                      - Location: 5
                        Street: 1 Bellamy Street
                        City: Potts Point
                        State: NSW
                        PostCode: '2457'
                        Country: Australia
                        Phone1: 02 9678 3456
                        Phone2: 02 9745 3456
                        Phone3: 02 9533 3533
                        Fax: 02 9567 3533
                        Email: IWM@aol.com.au
                        Website: www.myob.com.au
                        ContactName: Helen
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 500
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/c180cb17-5236-4e39-91e5-567a04345fd9
                    RowVersion: '-2735367226604388352'
                  - UID: 891dbdb1-d6e6-4c71-8df0-a16372bfa73c
                    CompanyName: Leisure Landscape Nursery
                    IsIndividual: false
                    DisplayID: CUS000007
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 25 Pacific Highway
                        City: Sydney
                        State: NSW
                        PostCode: '2000'
                        Country: Australia
                        Phone1: 02 9387 8931
                        Phone2: ''
                        Phone3: ''
                        Fax: 02 9387 8931
                        Email: LLNursery@aol.com
                        Website: www.myob.com.au
                        ContactName: Mr Lucas Jones
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: Work
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 0
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/891dbdb1-d6e6-4c71-8df0-a16372bfa73c
                    RowVersion: '-2663309632566460416'
                  - UID: 7fe8f3f3-0e58-4bed-a05b-1aa1fb56e583
                    CompanyName: My Town Reality
                    IsIndividual: false
                    DisplayID: CUS000008
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 63 Causeway Drive
                        City: Melbourne
                        State: Vic
                        PostCode: '3000'
                        Country: Australia
                        Phone1: 03 9714 9228
                        Phone2: 03 9714 7938
                        Phone3: ''
                        Fax: 03 9714 8623
                        Email: MyTown@aol.com.au
                        Website: www.myob.com.au
                        ContactName: Mrs A Curtis
                        Salutation: ''
                      - Location: 2
                        Street: 45 Hemley Street
                        City: Brunswick
                        State: Vic
                        PostCode: '3000'
                        Country: Australia
                        Phone1: 039645 6798
                        Phone2: 039632 5634
                        Phone3: 039633 3426
                        Fax: 039645 2389
                        Email: MTR@bigpond.com.au
                        Website: www.myob.com.au
                        ContactName: Mr S Curtis
                        Salutation: Work
                      - Location: 3
                        Street: 32 Bogong Road
                        City: Camberwell
                        State: Vic
                        PostCode: '3002'
                        Country: Australia
                        Phone1: 039567 2245
                        Phone2: 039534 1453
                        Phone3: 039467 2345
                        Fax: 039654 2245
                        Email: MT@bigpond.com.au
                        Website: www.myob.com.au
                        ContactName: Kevin
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 0
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/7fe8f3f3-0e58-4bed-a05b-1aa1fb56e583
                    RowVersion: '-2591252038528532480'
                  - UID: 6e263c85-418a-4e54-af00-2efb8e7450ad
                    CompanyName: The Motor Company
                    IsIndividual: false
                    DisplayID: CUS000010
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 63 Driveaway Road
                        City: Edwardstown
                        State: NSW
                        PostCode: '2112'
                        Country: Australia
                        Phone1: 02 9387 6532
                        Phone2: 02 9287 5822
                        Phone3: ''
                        Fax: 03 9387 5837
                        Email: TMC@aol.com
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: '0'
                    CurrentBalance: 7300000
                    Type: Customer
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Customer/6e263c85-418a-4e54-af00-2efb8e7450ad
                    RowVersion: '-2519194444490604544'
                  - UID: 7d567b8e-51df-4fce-b3fe-4e96683a9116
                    CompanyName: Cash Purchases
                    IsIndividual: false
                    DisplayID: SUPP000001
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: -40.04
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/7d567b8e-51df-4fce-b3fe-4e96683a9116
                    RowVersion: '-2447136850452676608'
                  - UID: eef027b7-a611-4983-91fc-cb74960b9069
                    CompanyName: Clear & Bright Filters
                    IsIndividual: false
                    DisplayID: SUPP000002
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 923 Government Road
                        City: Canberra
                        State: ACT
                        PostCode: '2980'
                        Country: Australia
                        Phone1: 02 6542 7879
                        Phone2: 02 6542 9987
                        Phone3: ''
                        Fax: 02 6544 4777
                        Email: clear@aol.com
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: -100
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/eef027b7-a611-4983-91fc-cb74960b9069
                    RowVersion: '-2375079256414748672'
                  - UID: 07fd40c0-26f2-490e-9670-29b386c64f84
                    CompanyName: Curbys Super Stands
                    IsIndividual: false
                    DisplayID: SUPP000003
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 67 Mountain Road
                        City: Leura
                        State: NSW
                        PostCode: '2477'
                        Country: Australia
                        Phone1: 02 9891 8911
                        Phone2: ''
                        Phone3: ''
                        Fax: 02 9819 8912
                        Email: Curbys@aol.com
                        Website: www.myob.com.au
                        ContactName: Jane Harris
                        Salutation: ''
                      - Location: 2
                        Street: 3 Cavendish Place
                        City: Pennant Hills
                        State: NSW
                        PostCode: '2567'
                        Country: Australia
                        Phone1: 02 9546 4644
                        Phone2: 02 9573 3565
                        Phone3: 02 9533 4225
                        Fax: 02 9633 3533
                        Email: CSS@aol.com.au
                        Website: www.myob.com.au
                        ContactName: David Harris
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 16.26
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/07fd40c0-26f2-490e-9670-29b386c64f84
                    RowVersion: '-2303021662376820736'
                  - UID: 0f8110ad-edd7-495a-9ba2-8956dbd657e0
                    CompanyName: Huston & Huston Packaging
                    IsIndividual: false
                    DisplayID: SUPP000004
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 237 Mason Parade
                        City: North Sydney
                        State: NSW
                        PostCode: '2060'
                        Country: Australia
                        Phone1: 02 9959 1752
                        Phone2: ''
                        Phone3: ''
                        Fax: 02 9959 1754
                        Email: Huston@ihug.com.au
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: 12 High Street
                        City: Leederville
                        State: NSW
                        PostCode: '2030'
                        Country: Australia
                        Phone1: 02 9956 2367
                        Phone2: 02 9945 3478
                        Phone3: 02 9934 2456
                        Fax: 02 9745 6785
                        Email: H&H@bigpond.com.au
                        Website: www.myob.com.au
                        ContactName: Ted
                        Salutation: ''
                      - Location: 3
                        Street: 23 Davies Road
                        City: Cabrammata
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/0f8110ad-edd7-495a-9ba2-8956dbd657e0
                    RowVersion: '-2230964068338892800'
                  - UID: 57ce5ee9-9e8f-45b2-bb0d-1e88178280f6
                    CompanyName: Metropolitan Electricity
                    IsIndividual: false
                    DisplayID: SUPP000005
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: PO Box 10002
                        City: Sydney
                        State: NSW
                        PostCode: '2000'
                        Country: Australia
                        Phone1: 02 9764 3467
                        Phone2: 02 9647 3476
                        Phone3: 02 9677 2254
                        Fax: 02 9643 6788
                        Email: Cash@aol.com.au
                        Website: www.myob.com.au
                        ContactName: Derrick
                        Salutation: ''
                      - Location: 2
                        Street: 31 Barnsby Court
                        City: Potts Point
                        State: NSW
                        PostCode: '2189'
                        Country: Australia
                        Phone1: 02 9768 6543
                        Phone2: 02 9786 3564
                        Phone3: 02 9783 5446
                        Fax: 02 9733 5335
                        Email: CP@aol.com.au
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: 1 Reardon Place
                        City: Leederville
                        State: NSW
                        PostCode: '2024'
                        Country: Australia
                        Phone1: 02 9872 3545
                        Phone2: 02 9657 3476
                        Phone3: 02 9567 4567
                        Fax: 02 9533 6467
                        Email: ''
                        Website: ''
                        ContactName: Hayley
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/57ce5ee9-9e8f-45b2-bb0d-1e88178280f6
                    RowVersion: '-2158906474300964864'
                  - UID: d2ebd3d6-e504-4dc2-9227-63f1f634104a
                    CompanyName: Mojo Advertising
                    IsIndividual: false
                    DisplayID: SUPP000006
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 12 James Street
                        City: Parramatta
                        State: NSW
                        PostCode: '2150'
                        Country: Australia
                        Phone1: 02 9745 1885
                        Phone2: 02 9543 2345
                        Phone3: 02 9654 2447
                        Fax: 02 9745 6346
                        Email: mojo@aol.com.au
                        Website: www.myob.com.au
                        ContactName: Melissa
                        Salutation: ''
                      - Location: 2
                        Street: 22 Davis Street
                        City: Hornsby
                        State: NSW
                        PostCode: '2567'
                        Country: Australia
                        Phone1: 029567 3564
                        Phone2: 029563 4567
                        Phone3: 029567 3456
                        Fax: 029677 3456
                        Email: ma@ihug.com.au
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/d2ebd3d6-e504-4dc2-9227-63f1f634104a
                    RowVersion: '-2086848880263036928'
                  - UID: 384a2c03-1702-4e51-89ac-a9dfc9bc67de
                    CompanyName: Mountain Spring
                    IsIndividual: false
                    DisplayID: SUPP000007
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 28 Clearvalley Way
                        City: Leura
                        State: NSW
                        PostCode: '2780'
                        Country: Australia
                        Phone1: 02 4277 2178
                        Phone2: 02 4246 2888
                        Phone3: ''
                        Fax: 02 4277 2188
                        Email: mountain@aol.com
                        Website: www.myob.com.au
                        ContactName: Ethel
                        Salutation: ''
                      - Location: 2
                        Street: 4 Stephensons Road
                        City: Newcastle
                        State: NSW
                        PostCode: '2890'
                        Country: Australia
                        Phone1: 024567 3566
                        Phone2: 024789 3456
                        Phone3: 024567 3465
                        Fax: 024768 3456
                        Email: MS@ihug.com
                        Website: www.myob.com.au
                        ContactName: David
                        Salutation: ''
                      - Location: 3
                        Street: 26 Hmpton Street
                        City: Liverpool
                        State: NSW
                        PostCode: '2765'
                        Country: Australia
                        Phone1: 024356 9876
                        Phone2: 024879 9757
                        Phone3: 025675 5755
                        Fax: ''
                        Email: Spring@telstra
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: Damian
                        City: 22 Davis Street
                        State: Nelsons Bay
                        PostCode: NSW
                        Country: '2567'
                        Phone1: Australia
                        Phone2: 024356 7809
                        Phone3: 024563 2712
                        Fax: 024780 3415
                        Email: 024356 6514
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 698.5
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/384a2c03-1702-4e51-89ac-a9dfc9bc67de
                    RowVersion: '-2014791286225108992'
                  - UID: 64494385-8b27-4790-8cbe-7f675dc049de
                    CompanyName: Outreach Real Estate
                    IsIndividual: false
                    DisplayID: SUPP000008
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 21 Smithson Street
                        City: Smithfield
                        State: VIC
                        PostCode: '3164'
                        Country: Australia
                        Phone1: 06 9223 9756
                        Phone2: ''
                        Phone3: ''
                        Fax: 06 9224 9757
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/64494385-8b27-4790-8cbe-7f675dc049de
                    RowVersion: '-1942733692187181056'
                  - UID: d2e5f52c-1c83-4e35-a2af-7d87042187d2
                    CompanyName: Underwater Springs Pty Ltd
                    IsIndividual: false
                    DisplayID: SUPP000009
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 123 Swamp Drive
                        City: Waterville
                        State: NSW
                        PostCode: '2551'
                        Country: Australia
                        Phone1: 02 9231 9987
                        Phone2: 02 9251 5688
                        Phone3: 02 9267 5432
                        Fax: 02 9254 2389
                        Email: Underwater@bigpond.com.au
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: 34 Heath Street
                        City: Campbellfield
                        State: NSW
                        PostCode: '2341'
                        Country: Australia
                        Phone1: 029345 6777
                        Phone2: 029234 5342
                        Phone3: 029345 3345
                        Fax: 029342 2345
                        Email: USP/L@optus.com.au
                        Website: www.myob.com.au
                        ContactName: Susie
                        Salutation: ''
                      - Location: 3
                        Street: 23 Riley Street
                        City: Marrickville
                        State: NSW
                        PostCode: '2567'
                        Country: Australia
                        Phone1: 029567 4235
                        Phone2: 029543 2345
                        Phone3: 029678 4536
                        Fax: 029567 3235
                        Email: ''
                        Website: ''
                        ContactName: Tim
                        Salutation: ''
                      - Location: 4
                        Street: 23 Mackie Place
                        City: Hurstville
                        State: NSW
                        PostCode: '2552'
                        Country: Australia
                        Phone1: 029546 3456
                        Phone2: 029543 6867
                        Phone3: 029533 2455
                        Fax: 029422 3478
                        Email: Spr@yahoo.com.au
                        Website: www.myob.com.au
                        ContactName: David
                        Salutation: ''
                      - Location: 5
                        Street: 156 Harvey Road
                        City: Pentonville
                        State: NSW
                        PostCode: '2675'
                        Country: Australia
                        Phone1: 029633 6635
                        Phone2: 029633 3533
                        Phone3: 029567 3356
                        Fax: 029567 3565
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
                      https://ar1.api.myob.com/accountright/c06778dd-4371-4a83-975f-522df65d7574/Contact/Supplier/d2e5f52c-1c83-4e35-a2af-7d87042187d2
                    RowVersion: '-1870676098149253120'
                  - UID: 65a26abb-f208-41a5-8210-423584af432e
                    CompanyName: WLJ Real Estate
                    IsIndividual: false
                    DisplayID: SUPP000010
                    IsActive: true
                    Addresses:
                      - Location: 1
                        Street: 555 High Street
                        City: Chatswood
                        State: NSW
                        PostCode: '2067'
                        Country: Australia
                        Phone1: 02 9112 9459
                        Phone2: 02 9219 3478
                        Phone3: 02 9367 3489
                        Fax: 02 9456 2345
                        Email: WLJ@yahoo.com
                        Website: www.myob.com.au
                        ContactName: ''
                        Salutation: ''
                      - Location: 2
                        Street: 22 Peterson Street
                        City: Penrith
                        State: NSW
                        PostCode: '2567'
                        Country: Australia
                        Phone1: 029345 6677
                        Phone2: 029345 6777
                        Phone3: 039345 7888
                        Fax: 029533 6777
                        Email: RealEst@yahoo.com
                        Website: www.myob.com.au
                        ContactName: Dennis
                        Salutation: ''
                      - Location: 3
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 4
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                      - Location: 5
                        Street: ''
                        City: ''
                        State: ''
                        PostCode: ''
                        Country: ''
                        Phone1: ''
                        Phone2: ''
                        Phone3: ''
                        Fax: ''
                        Email: ''
                        Website: ''
                        ContactName: ''
                        Salutation: ''
                    Notes: ''
                    Identifiers: null
                    CustomList1: null
                    CustomList2: null
                    CustomList3: null
                    CustomField1:
                      Label: Custom Field No. 1
                      Value: ''
                    CustomField2:
                      Label: Custom Field No. 2
                      Value: ''
                    CustomField3:
                      Label: Custom Field No. 3
                      Value: ''
                    CurrentBalance: 0
                    Type: Supplier
                    LastModified: '2015-05-05T00:00:00'
                    PhotoURI: null
                    URI: >-
[...]
